
<form ng-submit="ok()" class="Mbook">
    <div class="modal-header col-lg-12">
        <input class="col-lg-6 col-lg-offset-3 header-costume" ng-model="monitorName">{{selectedCard.monitorName}}</input>
    </div>
    <div class="modal-body ">
        <div class="panel-body form-body-costume">
            <div class="form-m-gup">
                <label class="card-lable2">סוג ניטור:</label>
                <input class="card-p" ng-model="monitorType">{{selectedCard.monitorType}}</input>
            </div>
            <div class="form-group">
                <label class="card-lable2">רמת ניטור:</label>
                <input class="card-p"  ng-model="monitorLevel">{{selectedCard.monitorLevel}}</input>
            </div>
            <div class="form-group">
                <label class="card-lable2">מוצר:</label>
                <input class="card-p" ng-model="monitorProdact">{{selectedCard.monitorProdact}}</input>
            </div>
            <div class="form-group">
                <label class="card-lable2">מערכת:</label>
                <input class="card-p" ng-model="monitorSystem">{{selectedCard.monitorSystem}}</input>
            </div>
            <div class="form-group">
                <label class="card-lable2">הסבר:</label>
                <input class="card-p" ng-model="monitorExplain">{{selectedCard.monitorExplain}}</input>
            </div>
        </div>
    </div>
    <div class="modal-footer footer-cos">
        <button type="submit" class="btn btn-primary col-lg-12 btn-modal-costume">עדכן</button>
    </div>
</form>