[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.modal{
    direction: ltr;
    display: block;
    overflow: auto;
}
form{
    direction: rtl;
    background-color: #262F3E;
    color:white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.64);
    border-radius: 3px;
}
body{
    width: 100%;
    background-image: url("../images/3.jpg");
}
.navbar-inverse{
    background-color: #262F3E;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.64);

}
.container-fluid{
    padding-right: 0;
    padding-left: 0;

}
.navbar-header {
    border-bottom: 2px solid;
    border-bottom-color: #f5bd35;
}
.navbar-right > .navbar-brand {
    font-size: 26px;
    color: #fff;
}
.nav-btn{
    font-size: 22px;
}

.nav-btn-effect:hover{
    background-color: #1F2631;
}
.nav-hover:hover{
    border-bottom: 2px solid;
    border-bottom-color:#42B3FF;

}
.choose{
    padding: 3px;
    font-size: 12px;
    display: inline;
    margin: 5px;
    color: #42B3FF;
    border: 1px solid #fff;
    border-radius: 2px;
}

.dropdown-toggle{
    font-size: 17px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-right: auto;
}
.main{
    position: absolute;
    top: 70px;
    width: 100%;
}
.row-costume-setup{
    display: block;
    position: static;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.panel{
    float: left;
    width: 8%;
    border: solid 2px ;
    margin-right: 1%;
    margin-left: 1%;
    height: 130px;
    padding: 0;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #888888;
}

.panel:hover{
    border: solid 2px black;
    box-shadow: 7px 7px 3px #899999;
}

.panel > img{
    margin-right: 0;
    margin-left: 0;
    display: block;
    position: inherit;
    width: 100%;
    height: 80%;
}
.card-lable{
    display: block;
    height: 20%;
    text-align: center;
    margin-bottom: 0;
}
.card-lable2{
    display: inline;
    font-size:18px;
}

.label-add-card{
    width: 50%;
    display: inline;
}
.input-add-card{
    color:black;
    float: left;
    width: 50%;
    display: inline;
}
.form-group{
    display: block;
}
.input-big{
    color:black;
    display: block;
    height: 50px;
    width: 500px;
}
.panel-body{
    margin-top: 80px;
}

.costume-cards{
    display: inline;
}
.card-p{
    display: inline;
    max-width: 100px;
    overflow: auto;
    margin-right: 5px;
    font-size: 14px;
    text-align: center;
}

.btn-modal-costume{
    border-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 100%;
    height: 50px;

}
/*
.btn-modal-costume:hover{
    background-color: #4464ff;
}
.btn-modal-costume:{
    background-color: #4464ff;
}*/

.header-costume:before{  
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -2;
    height: 30px;
    display: block;
    background: white;
    border:solid 2px white;
    border-radius: 3px;
    opacity: 0.8;
}
.header-costume{  
    position: inherit;
    top:-7.5px;
    left: 0;  
    right: 0;  
    z-index: 0;  
    color: black;
    border-radius: 3px;
    text-align: center;
    font-size: 24px;
}
.modal-footer{
    padding: 0;
}

.form-body-costume:before{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-color: white;
    width: 570px;
    height: 80%;
    opacity: 0.8;
    border:solid 2px white;
    border-radius: 3px;
}
.background{
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 50%;
    right: 50%;
    z-index: 999;
    color:orange;
}
.form-body-costume{
    position: inherit;
    left: 0;
    right: 0;
    z-index: 20;
}
/*dynamic background classes*/
/*########################################################################################################################################################################################################################################*/
.oracleDB:before{  content: "";  position: absolute;  left: 0;  right: 0;  z-index: -1;  display: block;  background-image: url("../images/oracleDB.jpg") ;min-height: 100%;     background-repeat: no-repeat;     background-position: center; background-size: auto 100%;    -webkit-filter:  saturate(10%);  filter:  saturate(10%);
}
.oracleDB{  position: fixed;  left: 0;  right: 0;  z-index: 0;  color:black;    border-radius: 3px; background-color: white;
}

.mongoDB:before{  content: "";  position: absolute;  left: 0;  right: 0;  z-index: -1;  display: block;  background-image: url("../images/mongoDB.jpg") ;min-height: 100%;     background-repeat: no-repeat;     background-position: center; background-size: auto 100%;    -webkit-filter:  saturate(10%);  filter:  saturate(10%);
}
.mongoDB{  position: fixed;  left: 0;  right: 0;  z-index: 0;  color:black; border-radius: 3px; background-color: white;
}

.windows:before{  content: "";  position: absolute;  left: 0;  right: 0;  z-index: -1;  display: block;  background-image: url("../images/windows.jpg") ;min-height: 100%;     background-repeat: no-repeat;     background-position: center; background-size: auto 100%;    -webkit-filter:  saturate(10%);  filter:  saturate(10%);
}
.windows{  position: fixed;  left: 0;  right: 0;  z-index: 0;  color:black; border-radius: 3px; background-color: white;
}

.linux:before{  content: "";  position: absolute;  left: 0;  right: 0;  z-index: -1;  display: block;  background-image: url("../images/linux.jpg") ;min-height: 100%;     background-repeat: no-repeat;     background-position: center; background-size: auto 100%;    -webkit-filter:  saturate(10%);  filter:  saturate(10%);
}
.linux{  position: fixed;  left: 0;  right: 0;  z-index: 0;  color:black;   border-radius: 3px; background-color: white;
}

.netapp:before{  content: "";  position: absolute;  left: 0;  right: 0;  z-index: -1;  display: block;  background-image: url("../images/netapp.jpg") ;min-height: 100%;     background-repeat: no-repeat;     background-position: center; background-size: auto 100%;    -webkit-filter:  saturate(10%);  filter:  saturate(10%);
}
.netapp{  position: fixed;  left: 0;  right: 0;  z-index: 0;  color:black;  border-radius: 3px; background-color: white;
}

.vmware:before{  content: "";  position: absolute;  left: 0;  right: 0;  z-index: -1;  display: block;  background-image: url("../images/vmware.jpg") ;min-height: 100%;     background-repeat: no-repeat;     background-position: center; background-size: auto 100%;    -webkit-filter:  saturate(10%);  filter:  saturate(10%);
}
.vmware{  position: fixed;  left: 0;  right: 0;  z-index: 0;  color:black;  border-radius: 3px; background-color: white;
}

.hp:before{  content: "";  position: absolute;  left: 0;  right: 0;  z-index: -1;  display: block;  background-image: url("../images/hp.jpg") ;min-height: 100%;     background-repeat: no-repeat;     background-position: center; background-size: auto 100%;    -webkit-filter:  saturate(10%);  filter:  saturate(10%);
}
.hp{  position: fixed;  left: 0;  right: 0;  z-index: 0;  color:black;  border-radius: 3px; background-color: white;
}

.IBM-MainFrame:before{  content: "";  position: absolute;  left: 0;  right: 0;  z-index: -1;  display: block;  background-image: url("../images/IBM-MainFrame.jpg") ;min-height: 100%;     background-repeat: no-repeat;     background-position: center; background-size: auto 100%;    -webkit-filter:  saturate(10%);  filter:  saturate(10%);
}
.IBM-MainFrame{  position: fixed;  left: 0;  right: 0;  z-index: 0;  color:black;   border-radius: 3px; background-color: white;
}

.default:before{  content: "";  position: absolute;  left: 0;  right: 0;  z-index: -1;  display: block;  background-image: url("../images/background4.jpg");min-height: 100%;     background-repeat: no-repeat;     background-position: center; background-size: auto 100%;    -webkit-filter:  saturate(10%);  filter:  saturate(10%);
}
.default{  position: fixed;  left: 0;  right: 0;  z-index: 0;  color:black; border-radius: 3px; background-color: white;
}

.Mbook:before{  content: "";  position: absolute;  left: 0;  right: 0;  z-index: -2;  display: block;  background-image: url("../images/M.png") ;min-height: 100%;     background-repeat: no-repeat;     background-position: center; background-size: auto 100%;
}
.Mbook{  position: fixed;   top:75px;   left: 0;  right: 0;  z-index: 0;  color:black;    border-radius: 3px; background-color: #262F3E;
}

/*########################################################################################################################################################################################################################################*/


/*test*/
.card-container {
    height: 250px;
    width: 16%;
    margin-right:2%;
    margin-left:2%;
    margin-top:2%;
    margin-bottom:2%;
    border:solid 1px #D8D8D8;
    float: left;
}

.card-container:hover{
    border: solid 1px #383838;
    box-shadow: 7px 7px 3px #899999;
}
.card-img-container {
    position: static;
    display: block;
    width: 100%;
    height: 50%;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    top: 0%;
}
.card-img {
    padding: 0;
    height: 100%;
}
.card-label-container {
    position: relative;
    display: block;
    width: 100%;
    height: 20%;
    background:white;
}
.card-text {
    text-align: center;
    top: 30%;
}
.card-extra-info-container {
    border-top:#D8D8D8 solid 1px;
    position: relative;
    display: block;
    width: 100%;
    height: 20%;
    float: left;
    margin-right: 0;
    margin-left: 0;
    background: #F0F0F0;
}

.card-ul-costume {
    list-style-type: none;
    text-align: center;
    top:12%;
}

.card-button-footer-container {
    position: relative;
    display: block;
    padding: 0;
    width: 100%;
    height: 10%;
}

.card-li-costume-mid {
    border-right:#D8D8D8 solid 1px;
    border-left:#D8D8D8 solid 1px;
}

.card-li-costume-sides {
    padding: 0;
    height: 100%;
    border-radius: 0;
}
.card-extra-info-text {
    font-size: 10px;
    text-align: center;
}
.a{
    width: 50%;
    background-color: #262F3E;
}
.nav-left{
    top:30%;
    left: 97%;
    position: fixed;
}


.test2{
    position: fixed;
    top:30%;
    left: 1010px;
}
.up{
    z-index: 1000;
}
.row-costume-files {
    top:60px;
    position: absolute;
    display: block;
    background-color: #f9f9f9;
}

.file-continer {
    display: inline;
    width: 125px;
    float: left;
    margin: 1%;
    height: 80px;
    border-radius: 3px;
    text-align: center;
    padding: 1%;
    padding-top: 2%;
    padding-bottom: 10%;
    border:solid 1px #D8D8D8;
}
.file-continer:hover{
    border: solid 1px #383838;
    box-shadow: 7px 7px 3px #899999;
}

.file-label {
    text-align: center;
    width: 120px;
    display: block;
}
.glyphicon-floppy-save{
    padding: 3%;
    font-size: 50px;

}

.btn-costume-aside{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10%;
}
.modal-title-costume-aside{
    text-align: center;
}






