<form ng-submit="ok()">
    <div class="modal-header col-lg-12">
        <h3 class="col-lg-4 col-lg-offset-4">הוספת ניטור</h3>
    </div>
    <div class="modal-body">
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-lg-8">
                    <label class="label-add-card">שם הניטור:</label>
                    <input class="input-add-card form-control" type="text"  ng-model="monitorName">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-8">
                    <label class="label-add-card">סוג הניטור:</label>
                    <select class="form-control input-add-card" ng-model="monitorType">
                        <option>בסיסי</option>
                        <option>מתקדם</option>
                        <option>אפליקטיבי</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-8">
                    <label class="label-add-card">שם המוצר:</label>
                    <select class="form-control input-add-card"  ng-model="monitorProdact">
                        <option>oracleDB</option>
                        <option>mongoDB</option>
                        <option>windows</option>
                        <option>linux</option>
                        <option>netapp</option>
                        <option>vmware</option>
                        <option>hp</option>
                        <option>IBM-MainFrame</option>
                        <option>not exist here</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-8">
                    <label class="label-add-card">שם המערכת:</label>
                    <select class="form-control input-add-card" ng-model="monitorSystem">
                        <option>מערכת1</option>
                        <option>מערכת2</option>
                        <option>מערכת3</option>
                        <option>מערכת4</option>
                        <option>מערכת5</option>
                        <option>מערכת6</option>
                        <option>לא קיים כאן</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-8">
                    <label class="label-add-card">הסבר לניטור:</label>
                    <textarea class="input-big form-control " type="text"  ng-model="monitorExplain"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success col-lg-12 btn-modal-costume">שמור</button>
    </div>
</form>