
<div class="main " ui-sref="monitors">
    <div class="row row-costume-setup " ui-view>
        <div class="enter-page-body" ng-show="filterValueLevel == 'start'" >
            <div class="row enter-page-row">
                <div class="col-lg-3 enter-page-outbox">
                    <div class="enter-page-inbox-center col-lg-10 col-lg-offset-1 background-img-basic" ng-click="changeFilterValue('בסיסי' , '3')">
                        <div class="enter-page-text-div"><h1>בסיסי</h1></div>
                    </div>
                </div>
                <div class="col-lg-3 enter-page-outbox">
                    <div class="enter-page-inbox-center col-lg-10 col-lg-offset-1 background-img-applicative" ng-click="changeFilterValue('אפליקטיבי' , '3')">
                        <div class="enter-page-text-div"><h1>אפליקטיבי</h1></div>
                    </div>
                </div>
                <div class="col-lg-3 enter-page-outbox">
                    <div class="enter-page-inbox-center col-lg-10 col-lg-offset-1 background-img-advance" ng-click="changeFilterValue('מתקדם' , '3')">
                        <div class="enter-page-text-div"><h1>מתקדם</h1></div>
                    </div>
                </div>
                <div class="col-lg-3 enter-page-outbox">
                    <div class="enter-page-inbox-center col-lg-10 col-lg-offset-1 background-img-construction" ng-click="changeFilterValue('בבניה', '2')">
                        <div class="enter-page-text-div"><h1>בבנייה</h1></div>
                    </div>
                </div>
                <div class="col-xs-12 shelf" ></div>
            </div>
            <div class="enter-page-background-costume" ></div>
        </div>
        <div class="costume-cards" ng-show="filterValueLevel != 'start'">
            <div class="bouncy-slide-down" ng-repeat="selectedCard in Cards | filter: filterValueStatus == '2' ? {status:'2'} : {status:'3',monitorName:ValueSearch ,monitorLevel:filterValueLevel, monitorSystem:filterValue}">
                <div class="col-lg-3 monitor-card-outerbox">
                    <div class="monitor-card-midbox col-lg-12">
                        <div class="col-lg-12 col-lg-offset-1 monitor-card-inbox" my-background-image="{{selectedCard.img}}"></div>
                        <button class="col-lg-2 col-lg-pull-9 monitor-card-btn-open btn" ng-class="selectedCard.classBtn" ng-click="test(selectedCard);openCard(selectedCard)">פתח</button>
                        <div class="monitor-card-name col-lg-10 col-lg-push-2 " ng-class="selectedCard.classText"><h4 class="monitor-card-name-text">{{selectedCard.monitorName | strLimit: 25}}</h4></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
